[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
requests = "==2.31.0"
beautifulsoup4 = "==4.12.2"
python-dotenv = "~=1.0"
psycopg2 = "~=2.9.6"

[dev-packages]
pyperclip = "*"

[requires]
python_version = "3.11"
